# Nx
.nx/cache
.nx/workspace-data

# Dependencies
node_modules

# Build outputs
dist
.next
out

# Logs
logs
*.log
dev.log
dev-all.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# IDE and OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage
.nyc_output

# Temporary files
tmp
temp

# Docker volumes data
apps/backend/data/
docker/harbor/data/
docker/database/mariadb/data/
docker/database/mariadb/logs/
docker/database/redis/data/
docker/database/redis/logs/
docker/storage/data/
docker/clickhouse/data/
docker/clickhouse/logs/
docker/db-manager/data/

# Harbor generated configs
docker/harbor/docker-compose.yml
docker/harbor/common/config/
