# Environment configuration
PORT=3333
NODE_ENV=development

#DATABASE MYSQL
DB_HOST=192.168.1.90
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

# Redis Configuration
REDIS_HOST=192.168.1.90
REDIS_PASSWORD=
REDIS_PORT=6378
REDIS_DB_NUMBER=0
REDIS_DB_NUMBER_CACHE=1

# JWT Secret
JWT_SECRET=
JWT_EXPIRES_IN=3600s

# Bcrypt Salt Rounds
BCRYPT_SALT_ROUNDS=

# Seeder User Admin
ADMIN_NAME=""
EMAIL_ADMIN=""
PASSWORD_ADMIN=""

#YOUTUBE
YOUTUBE_API_KEY=

# MinIO Storage
MINIO_ENDPOINT=localhost
MINIO_ENDPOINT_API=http://localhost:9000/
MINIO_PORT=9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=ecommerce
MINIO_USE_SSL=false
FRONTEND_URL_CORS="http://localhost:3000,http://localhost:3002,http://localhost"
SEED_MOCK_DATA=false

