# API & Service URLs
NEXT_PUBLIC_TIMESTAMP_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:3333/api/v1
NEXT_PUBLIC_API_TIMEOUT=30000
NEXT_PUBLIC_API_IMAGE_URL=http://localhost:9000
NEXT_PUBLIC_HOSTNAME_IMAGE=localhost

# Cookie Configurations
NEXT_PUBLIC_API_COOKIE_DOMAIN=localhost
NEXT_PUBLIC_API_COOKIE_TOKEN=access_token

# OpenAPI Spec Generation URL
OPENAPI_INPUT_URL=http://localhost:3333/api/docs-json

# Theme (tiktok / muabantaikhoan)
NEXT_PUBLIC_THEME=tiktok

# Base Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Analytics (Optional)
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_FB_PIXEL_ID=
