# --- DATABASE MANAGER DOCKER ENVIRONMENT ---
# Copy this file to .env and customize values for production deployment

CLOUDBEAVER_VERSION=latest

# Port config for CloudBeaver Web UI console
CLOUDBEAVER_PORT=8978

# Persistent Storage Path on the Host
CLOUDBEAVER_DATA_PATH=./data
